*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #f8f8f8;
}
.news-main{
    width: 40%;
    min-width: 800px;
    margin: 100px auto 20px;
    padding: 15px;
    background-color: #fff;
}
.news-main .item{
    margin-bottom: 20px;
}
.news-main .item-title{
    text-align: left;
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
}
.news-main .item-content{
    padding-left: 15px;
}
.pagination-container{
    text-align: center;
    min-width: 800px;

}
.pagination,.skip-page{
    display: inline-block;
}
.pagination a{
    display: inline-block;
    background-color: #999;
    color: #fff;
    width: 10px;
    padding: 1px 6px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}
.pagination a.active{
    background-color: #85D1FF;
}
.page-change{
    margin: 0 15px;
    cursor: pointer;
}
.skip input{
    width: 50px;
}
.input-page{
    width: 50px;
    text-align: center;
    margin: 0 3px;
}
